.git
.gitignore
.expo
.expo-shared
node_modules
dist
web-build
build
**/bin
**/obj
.env
.env.*
!.env.server.example
.vscode
.idea
*.suo
*.user
*.userosscache
*.log
*.tmp
*.temp
coverage
android
ios
docs
scripts
README.md
